html, body{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #EEEEEE;
    padding: 30px;
}
.container {
    overflow:hidden;
    width:960px;
    margin:20px auto;
}
.contr {
    background-color: #212121;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
    border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
}
.upload_form_cont {
    background: -moz-linear-gradient(#ffffff, #f2f2f2);
    background: -ms-linear-gradient(#ffffff, #f2f2f2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(#ffffff, #f2f2f2);
    background: -o-linear-gradient(#ffffff, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2')";
    background: linear-gradient(#ffffff, #f2f2f2);

    color: #000;
    overflow: hidden;
}
.info {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    float: left;
    font-weight: bold;
    height: 530px;
    margin: 20px;
    position: relative;
    width: 560px;
}
.info > div {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px 5px;
}
.info > h2 {
    padding: 0 15px;
}
.info > canvas {
    margin-left: 15px;
    margin-bottom: 10px;
}
.info #url {
    width: 400px;
}
#dropArea {
    padding: 30px;
    min-width: 800px;
    background-color: #EEE;
    font-size: large;
    font-weight: bold;
    width: auto;
    position: relative;
    text-align: center;
}
/*
#dropArea.hover {
    background-color: #CCCCCC;
}
#dropArea.uploading {
    background: #EEEEEE url(loading.gif) center 30% no-repeat;
}*/
#result .s, #result .f {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;

    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
#result .s {
    background-color: #77fc9f;
}
#result .f {
    background-color: #fcc577;
}
.gallery_element {
   padding: 7px;
   background: white;
   box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.gallery_element > img{
   width: 100%;
   width: 200px;
}
/*.gallery_element{
    display: inline-block;
}

.gallery_square{
    width: 200px;
    height: 200px;
    margin: 5px;
}
.gallery_rect{
    width:95%;
    height: 200px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}*/
#gallery_instruction{
    position: fixed;
    min-width: 800;
    width: 100%;
    top:0;
    left:0;
    padding:10px;
    background: rgba(255,255,180,0.95);
    color:black;
    z-index: 900;
    display: none;
}